<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
    Secret
</button>
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Secret</h4>
                <small class="font-bold">The world is so big, the earth is so small, one day we will meet。</small>
            </div>
            <div class="modal-body">
                <div class="tabbable" id="tabs-960227">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#panel-405278" data-toggle="tab">I</a></li>
                        <li><a href="#panel-874705" data-toggle="tab">II</a></li>
                        <li><a href="#panel-874706" data-toggle="tab">III</a></li>
                        <li><a href="#panel-874707" data-toggle="tab">IV</a></li>
                        <li><a href="#panel-874708" data-toggle="tab">V</a></li>
                        <li><a href="#panel-874709" data-toggle="tab">VI</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="panel-874706">
                            <div class="text-center"><img src="/../static/img/pay/XXH_Best_three.png"></div>
                        </div>
                        <div class="tab-pane" id="panel-874707">
                            <div class="text-center"><img src="/../static/img/pay/XXH_Best_four.png"></div>
                        </div>
                        <div class="tab-pane" id="panel-874708">
                            <div class="text-center"><img src="/../static/img/pay/XXH_Best_five.png"></div>
                        </div>
                        <div class="tab-pane" id="panel-874709">
                            <div class="text-center"><img src="/../static/img/pay/XXH_Best_six.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
