---
layout: blog
title: HTML
permalink: /html/
---

<style type="text/css">
.warp{ 
	background:#eee url(back.jpg) no-repeat left top;    
	border:1px solid #ccc;
}
.content { 
	margin:0px auto; 
	padding:30px 30px; 
	background:rgba(255, 255, 255, 0.6)!important;
	filter:Alpha(opacity=40); 
	background:#fff;
	.content p{ position:relative;}
</style>

<div class="row" style="background-image:url('/../static/img/landing/bg_blog.jpg');">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>HTML</h1>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog warp" style="background-image:url('/../static/img/landing/bg_blog.jpg');background-size:100%;">
    <div class="row">
		<ul id="pag-itemContainer" style="list-style:none;">
    {% assign counter = 0 %}
		{% for post in site.categories['WEB'] %}
		{% assign counter = counter | plus: 1 %}
		<li>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="ibox">
                <div class="ibox-content content" dataid="{{ post.title }}">
                    <a href="{{ post.url }}" class="btn-link">
                        <h2>
                            {{ post.title }}
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>{{ site.author.name }}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}</span>
                    </div>
                    <p>
                    	{{ post.content | strip_html | truncate:100 }}
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                                <h5>Tags:</h5>
                                {% for tag in post.tags %}
                                    <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div>
                                <i class="fa fa-clock-o"></i> <a class="comment_count"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
        {% endfor %}
        </ul>
        {% include pagination.html %}

    </div>
</div>

<script type="text/javascript">
	var commentKeyIds = [];
	
	function duoshuoCountCallBack(data){
	    if(data.code == 0) {
	        var comments = data.response;
	        for(var item in comments) {
	        	var comnts = comments[item].comments;
			var likes = comments[item].likes;
	        	for(var i=0; i<commentKeyIds.length; i++) {
	        		var key = commentKeyIds[i + 1].key;
	        		if(key == item) {
	        			var domId = commentKeyIds[i].id;
			        	$("#" + domId).text(comnts + " 条评论" + "   " + likes + " 喜欢");
			        	break;
	        		}
	        	}
	        }
	    }
	}
	
	$(function(){
		var items = $(".ibox-content");
		var threadKeys = [];
		for(var i=0; i<=items.length; i++) {
			var domId = "duoshuo_"+i;
			commentKeyIds.push({key: key, id: domId});
			var key = $(items[i]).attr("dataid");
			$(items[i]).find(".comment_count").attr("id", domId);
			threadKeys.push(key);
		}
		var countUrl = 'https://api.duoshuo.com/threads/counts.jsonp?short_name=eliot&threads=' + threadKeys.join(",");
		$("head").append("<script type='text\/javascript' src='"+countUrl+"&callback=duoshuoCountCallBack'><\/script>");
	});
	
</script>
