---
layout: default
---

<style type="text/css">
.warp{ 
	background:#eee url(back.jpg) no-repeat left top;    
	border:1px solid #ccc;
}
.content { 
	margin:0px auto; 
	padding:30px 30px; 
	background:rgba(255, 255, 255, 0.6)!important;
	filter:Alpha(opacity=40); 
	background:#fff;
	.content p{ position:relative;}
</style>

  <div class="wrapper wrapper-content  animated fadeInRight article warp" style="background-image:url('/../static/img/landing/BackGround_Simple.jpg');">
     <div class="row">
         <div class="col-lg-10 col-lg-offset-1">
             <div class="ibox content" style="background-image:url('/../static/img/landing/BackGround_Read.jpg');">
                 <div class="ibox-content" style="background-image:url('/../static/img/landing/BackGround_Read.jpg');">
                     <div class="pull-right">
                     	{% for category in page.categories %}
                         	<button class="btn btn-white btn-xs" type="button">{{ category }}</button>
                         {% endfor %}
                     </div>
                     <div class="text-center article-title">
                     <div align="center"><embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_wh.swf" quality="high" autostart="1" wmode="transparent"></div>
                     <span class="text-muted"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</span>
                     <span id="busuanzi_container_page_pv">本文阅读量<span id="busuanzi_value_page_pv"></span>次</span>
                         <h1>
                             {{ page.title }}
                         </h1>
                     </div>
                   
                     	{{ content }}
                     <hr>
                     <div class="row">
                         <div class="col-md-6">
                                 <h5>Tags:</h5>
                                 {% for tag in page.tags %}
                                     <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                 {% endfor %}
                         </div>
                         <div class="col-md-6">
                             <div class="small text-right">
                                 <h5>Status:</h5>
                             </div>
                         </div>
                     </div>
                     
                     <br>
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="span6 offset3">
                               <object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/hamster/hamster.swf?up_bodyColor=f0e9cc&amp;up_feetColor=D4C898&amp;up_eyeColor=000567&amp;up_wheelSpokeColor=DEDEDE&amp;up_wheelColor=FFFFFF&amp;up_waterColor=E0EFFF&amp;up_earColor=b0c4de&amp;up_wheelOuterColor=FF4D4D&amp;up_snoutColor=F7F4E9&amp;up_bgColor=F0E4E4&amp;up_foodColor=cba920&amp;up_wheelCenterColor=E4EB2F&amp;up_tailColor=E6DEBE&amp;" width="180" height="160">
                               <param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?up_bodyColor=f0e9cc&amp;up_feetColor=D4C898&amp;up_eyeColor=000567&amp;up_wheelSpokeColor=DEDEDE&amp;up_wheelColor=FFFFFF&amp;up_waterColor=E0EFFF&amp;up_earColor=b0c4de&amp;up_wheelOuterColor=FF4D4D&amp;up_snoutColor=F7F4E9&amp;up_bgColor=F0E4E4&amp;up_foodColor=cba920&amp;up_wheelCenterColor=E4EB2E&amp;up_tailColor=E6DEBE&amp;">
                               <param name="AllowScriptAccess" value="always">
                               <param name="wmode" value="opaque"></object>
                               
                               <div class="pull-right">
                               {% if site.donate %}
                                 {% include donate.html %}
                               {% endif %}
                               </div>
                                 
                               <div class="span3 offset2">
                                 {% if site.bshare %}
                                  {% include share.html %}
                                 {% endif %}
                               </div>
                             </div>
                             
                             <br>
                             <br>
                             <!-- comment -->
                             {% include comments.html %}
                         </div>
                     </div>
 
                 </div>
             </div>
         </div>
     </div>
 
 </div>
